In [1]:
import pandas as pd
import numpy as np
import pydataset

from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

tips = pydataset.data('tips')
tips['smoker'] = (tips.smoker == 'Yes').astype(int)
tips['dinner'] = (tips.time == 'Dinner').astype(int)

## 1. Load the tips dataset.

a. Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [3]:
tips.head()

   total_bill   tip     sex  smoker  day    time  size  dinner
1       16.99  1.01  Female       0  Sun  Dinner     2       1
2       10.34  1.66    Male       0  Sun  Dinner     3       1
3       21.01  3.50    Male       0  Sun  Dinner     3       1
4       23.68  3.31    Male       0  Sun  Dinner     2       1
5       24.59  3.61  Female       0  Sun  Dinner     4       1

In [8]:
#create new column tip_percentage
tips['tip_percentage'] = tips.tip / tips.total_bill

In [12]:
tips.head(2)

,total_bill,tip,sex,smoker,day,time,size,dinner,tip_percentage,price_per_person
1,16.99,1.01,Female,0,Sun,Dinner,2,1,0.059447,0.007737
2,10.34,1.66,Male,0,Sun,Dinner,3,1,0.160542,0.004709

### 1b. Create a column named price_per_person. This should be the total bill divided by the party size.

In [10]:
#create new column price_per_person
tips['price_per_person'] = tips.total_bill / tips.size

In [13]:
tips.head(2)

,total_bill,tip,sex,smoker,day,time,size,dinner,tip_percentage,price_per_person
1,16.99,1.01,Female,0,Sun,Dinner,2,1,0.059447,0.007737
2,10.34,1.66,Male,0,Sun,Dinner,3,1,0.160542,0.004709

### 1c. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

In [ ]:
# I think the total bill, size and time will be most important to get these amounts.