In [1]:
import pandas as pd
import numpy as np
import pydataset

from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

tips = pydataset.data('tips')
tips['smoker'] = (tips.smoker == 'Yes').astype(int)
tips['dinner'] = (tips.time == 'Dinner').astype(int)

## 1. Load the tips dataset.

a. Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [2]:
tips.head()

   total_bill   tip     sex  smoker  day    time  size  dinner
1       16.99  1.01  Female       0  Sun  Dinner     2       1
2       10.34  1.66    Male       0  Sun  Dinner     3       1
3       21.01  3.50    Male       0  Sun  Dinner     3       1
4       23.68  3.31    Male       0  Sun  Dinner     2       1
5       24.59  3.61  Female       0  Sun  Dinner     4       1

In [3]:
#create new column tip_percentage rounded to 2 decimal places
tips['tip_percentage'] = round(tips['tip'] / tips['total_bill'],2)

In [4]:
tips.head(2)

   total_bill   tip     sex  smoker  day    time  size  dinner  tip_percentage
1       16.99  1.01  Female       0  Sun  Dinner     2       1            0.06
2       10.34  1.66    Male       0  Sun  Dinner     3       1            0.16

### 1b. Create a column named price_per_person. This should be the total bill divided by the party size.

In [10]:
#create new column price_per_person, use brackets since size is a keyword
tips['price_per_person'] = (tips['total_bill']) / (tips['size'])

In [6]:
tips.head(2)

,total_bill,tip,sex,smoker,day,time,size,dinner,tip_percentage,price_per_person
1,16.99,1.01,Female,0,Sun,Dinner,2,1,0.06,8.495000
2,10.34,1.66,Male,0,Sun,Dinner,3,1,0.16,3.446667

### 1c. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

In [7]:
# I think the total bill, size and time will be most important to get these amounts.

### 1d.  Use select k best and recursive feature elimination to select the top 2 features for predicting tip amount. What are they?

In [ ]:
target = 'tip'

### 1e. Use select k best and recursive feature elimination to select the top 2 features for predicting tip percentage. What are they?

### 1f. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

## 2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

## 3. Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

## 4. Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).